---
layout: default
title: IC-Ferst/Multifluid Fluidity news
---

<div id="title">
    <h1>IC-Ferst/Multiphase Fluidity News</h1>
</div>
<hr>

{% for post in site.categories.news %}
  {% assign currentdate = post.date | date: "%B %Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}</ul>{% endunless %}
    <h2 id="y{{post.date | date: "%Y"}}">{{ currentdate }}:</h2>
    {% assign date = currentdate %}
  {% endif %}
    <h3> {{ post.title }} </h3>
    <p>{{ post.content }}</a></p>
  {% if forloop.last %} {% endif %}
{% endfor %}
      
